.dflex {
    display: flex;
    align-items: center;
    gap: 8px
}

.blockTable {
    width: 100%;
    overflow-x: auto;
}

.blockTable table{
    width: 100% !important;
}

.groupActionBlock{
    display:flex;
    gap: 4px;
    margin-left:12px;
}

.groupActionBlock div{
    background:var(--greenBg);
    border:0;
    outline:none;
    padding:0px 8px 4px;
    border-radius:5px;
    transition:all 0.2s ease;
    width: max-content;
    cursor: pointer;
}

.groupActionBlock div:hover{
    background:var(--green);
}

.groupActionBlock div:hover svg path{
    fill:var(--white) !important;
}


.extraData{
    line-height:1.85;
    margin-bottom:0;
    background:var(--light);
    border-radius:10px;
    border:1px solid var(--border);
    padding:20px;
    color:var(--gray) !important;
    font-family: var(--font_code);
}

.extraData span{
    white-space: normal;
}

@media (max-width: 772px) {
    .blockTable table{
        width: max-content !important;
    }
}
